# UE5 Template
Binaries
DerivedDataCache
Intermediate
Saved
.vscode
.vs
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace

# Ignore StarterContent
/Content/StarterContent
RPGProject/.idea/.idea.RPGProject.dir/.idea/encodings.xml
RPGProject/.idea/.idea.RPGProject.dir/.idea/indexLayout.xml
RPGProject/.vsconfig
